body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculator-box {
    border: 1px solid #121111;
    padding: 20px;
}
.result-box {
    margin-top: 10px;
}
.active-button {
    border-radius: 5px;
    border: 2px solid lightblue;
}